// spring.jar
grant {
	permission java.lang.RuntimePermission "accessClassInPackage.org.apache.tomcat.dbcp.dbcp" ;
	permission java.lang.RuntimePermission "accessClassInPackage.org.apache.tomcat.dbcp.pool" ;
	permission java.lang.RuntimePermission "accessClassInPackage.org.apache.tomcat.dbcp.pool.impl" ;
	permission java.lang.RuntimePermission "accessDeclaredMembers" ;
	permission java.lang.RuntimePermission "createClassLoader" ;
	permission java.lang.RuntimePermission "getClassLoader" ;
	permission java.lang.reflect.ReflectPermission "suppressAccessChecks" ;
	permission java.net.SocketPermission "*","connect,resolve" ;
	permission java.security.SecurityPermission "getPolicy" ;
	permission java.util.PropertyPermission "JavaClass.debug","read" ;
	permission java.util.PropertyPermission "elementAttributeLimit","read" ;
	permission java.util.PropertyPermission "entityExpansionLimit","read" ;
	permission java.util.PropertyPermission "hsqldb.max_char_or_varchar_display_size","read" ;
	permission java.util.PropertyPermission "hsqldb.trace","read" ;
	permission java.util.PropertyPermission "hsqldb.tracesystemout","read" ;
	permission java.util.PropertyPermission "log4j.configDebug","read" ;
	permission java.util.PropertyPermission "log4j.configuration","read" ;
	permission java.util.PropertyPermission "log4j.configuratorClass","read" ;
	permission java.util.PropertyPermission "log4j.debug","read" ;
	permission java.util.PropertyPermission "log4j.defaultInitOverride","read" ;
	permission java.util.PropertyPermission "log4j.ignoreTCL","read" ;
	permission java.util.PropertyPermission "maxOccurLimit","read" ;
	permission java.util.PropertyPermission "org.aspectj.dump.directory","read" ;
	permission java.util.PropertyPermission "org.aspectj.tracing.debug","read" ;
	permission java.util.PropertyPermission "org.aspectj.tracing.factory","read" ;
	permission java.util.PropertyPermission "org.aspectj.weaver.Dump.condition","read" ;
	permission java.util.PropertyPermission "org.aspectj.weaver.Dump.exception","read" ;
	permission java.util.PropertyPermission "petclinic.root","read" ;
	permission javax.management.MBeanPermission "*","registerMBean,unregisterMBean" ;
	permission javax.management.MBeanServerPermission "findMBeanServer" ;
	permission javax.management.MBeanTrustPermission "register" ;
};
